<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169532418363-rrq0um2gnd5ce948vncl89cflqgkaqtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169532418363-rrq0um2gnd5ce948vncl89cflqgkaqtj</string>
	<key>API_KEY</key>
	<string>AIzaSyA9zEi1y9Vb7rC3AwUvJTeetg_VJ9JOGmY</string>
	<key>GCM_SENDER_ID</key>
	<string>169532418363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofolit.priyobanskhali</string>
	<key>PROJECT_ID</key>
	<string>priyobanskhalibd</string>
	<key>STORAGE_BUCKET</key>
	<string>priyobanskhalibd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169532418363:ios:6d7f60af052db520d0ef1e</string>
</dict>
</plist>